# Copyright (c) 2020 Oracle and/or its affiliates. All rights reserved.
# Licensed under the Universal Permissive License v 1.0 as shown at http://oss.oracle.com/licenses/upl.
#


#*************************************
#         OKE Specific
#*************************************
oke-k8s-version="v1.18.10"
oke-worker-node-shape="VM.Standard.E3.Flex"
oke-worker-node-os-version="7.9"
oke-worker-node-memory=64
oke-worker-node-ocpu=4

#*************************************
#    API Gateway Specific
#*************************************

// Name of the "API Gateway"
apigateway_name="Digital Assistant Gateway"

#*************************************
#         Network Specific
#*************************************

network_cidrs = {
    VCN-CIDR                        = "10.0.0.0/16"
    PUBLIC-SUBNET-REGIONAL-CIDR     = "10.0.0.0/24"
    PRIVATE-SUBNET-REGIONAL-CIDR    = "10.0.1.0/24"
    LB-PRIVATE-SUBNET-REGIONAL-CIDR = "10.0.2.0/24"
    ALL-CIDR                        = "0.0.0.0/0"
}
network_names = {
    VCN-NAME                        = "Digital Assistant VCN"
    PUBLIC-SUBNET-REGIONAL-NAME     = "Digital Assistant - Public"
    PRIVATE-SUBNET-REGIONAL-NAME    = "Digital Assistant - Private"
    LB-PRIVATE-SUBNET-REGIONAL-NAME = "Digital Assistant (OKE LB) - Private"
}
#*************************************
#           TF Requirements
#*************************************

// OCI Region, user "Region Identifier" as documented here https://docs.cloud.oracle.com/en-us/iaas/Content/General/Concepts/regions.htm
region=""
// The Compartment OCID to provision artifacts within
compartment_ocid=""
// OCI User OCID, more details can be found at https://docs.cloud.oracle.com/en-us/iaas/Content/API/Concepts/apisigningkey.htm#five
user_ocid=""
// OCI tenant OCID, more details can be found at https://docs.cloud.oracle.com/en-us/iaas/Content/API/Concepts/apisigningkey.htm#five
tenancy_ocid=""
// Path to private key used to create OCI "API Key", more details can be found at https://docs.cloud.oracle.com/en-us/iaas/Content/General/Concepts/credentials.htm#two
private_key_path=""
// "API Key" fingerprint, more details can be found at https://docs.cloud.oracle.com/en-us/iaas/Content/General/Concepts/credentials.htm#two
fingerprint=""
