# Copyright (c) 2020 Oracle and/or its affiliates. All rights reserved.
# Licensed under the Universal Permissive License v 1.0 as shown at http://oss.oracle.com/licenses/upl.
#

#*************************************
#         General
#*************************************

// Prefix name. Will be used as a name prefix to identify resources, such as OKE, VCN, API Gateway, and others
prefix_name = "Digital Assistant"

#*************************************
#         OKE Specific
#*************************************
oke-worker-node-shape="VM.Standard.E3.Flex"
oke-worker-node-os-version="7.9"
oke-worker-node-memory=32
oke-worker-node-ocpu=2
oke-worker-nodes-auto-generate-ssh-key=true
oke-worker-nodes-ssh-key=""

#*************************************
#    API Gateway Specific
#*************************************

// API Gateway Path Prefix
// IMPORTANT: Must start with a leading "/"
apigateway_path_prefix = "/oda"

#*************************************
#    OCI Vault Specific
#*************************************
// Create new vault
create_vault = true

// Existing Vault OCID - Only if "create_vault" is set to "false"
existing_vault_id = ""

#*************************************
#         Network Specific
#*************************************

// Create New VCN
create_vcn = true

// Existing VCN OCID - Only if "create_vcn" is set to "false"
existing_vcn_id = ""

// Existing Public Subnet (API Gateway) OCID - Only if "create_vcn" is set to "false"
existing_public_subnet_id = ""

// Existing Public Subnet (OKE API Endpoint) OCID - Only if "create_vcn" is set to "false"
existing_public_subnet_id_oke = ""

// Existing Private Subnet (OKE Worker Nodes) OCID - Only if "create_vcn" is set to "false"
existing_private_subnet_id_oke_nodes = ""

// Existing Private Subnet (OKE Load Balancer) OCID - Only if "create_vcn" is set to "false"
existing_private_subnet_id_oke_lb = ""

// Network CIDRs
network_cidrs = {
    VCN-CIDR                        = "10.0.0.0/16"
    PUBLIC-SUBNET-REGIONAL-CIDR     = "10.0.0.0/24"
    PRIVATE-SUBNET-REGIONAL-CIDR    = "10.0.1.0/24"
    LB-PRIVATE-SUBNET-REGIONAL-CIDR = "10.0.2.0/24"
    OKE-PUBLIC-SUBNET-REGIONAL-CIDR = "10.0.3.0/24"
    ALL-CIDR                        = "0.0.0.0/0"
}

#*************************************
#           TF Requirements
#*************************************

// OCI Region, user "Region Identifier" as documented here https://docs.cloud.oracle.com/en-us/iaas/Content/General/Concepts/regions.htm
region=""
// The Compartment OCID to provision artifacts within
compartment_ocid=""
// OCI User OCID, more details can be found at https://docs.cloud.oracle.com/en-us/iaas/Content/API/Concepts/apisigningkey.htm#five
user_ocid=""
// OCI tenant OCID, more details can be found at https://docs.cloud.oracle.com/en-us/iaas/Content/API/Concepts/apisigningkey.htm#five
tenancy_ocid=""
// Path to private key used to create OCI "API Key", more details can be found at https://docs.cloud.oracle.com/en-us/iaas/Content/General/Concepts/credentials.htm#two
private_key_path=""
// "API Key" fingerprint, more details can be found at https://docs.cloud.oracle.com/en-us/iaas/Content/General/Concepts/credentials.htm#two
fingerprint=""
